@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/*--------CONTAINER----------*/


.container {
    margin: 0;
}

.container img{
    width: 100%;
    display: block;
    object-fit: cover;
}


/*-------- TEXT CONTAINER----------*/

.text-container {
    height: 200px;
    width: 100%;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: Roboto;
    
}

.text-container h1 {
    text-transform:uppercase;
    font-weight: bold;
    width: 80%;
}

.text-container p {
    width: 60%;
}

.text-container button {
    padding: 12px 10px;
    text-transform: uppercase;
    width: 200px;
    background-color: rgb(165, 31, 31);
    color: white;
    border: none;
    font-weight: bold;
    font-size: 14px;
    
}


/*--------MEDIA QUERY----------*/

@media screen and (min-width: 1024px){
    .top-row, .bottom-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 400px);
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
    }
    
        /*--------MQ TEXT CONTAINER----------*/
    .text-container {
        width: 100%;
        margin: 0;
    }

    .text-container h1, p , button {
       margin: 0 0 0 25px;
    } 

    .text-container button {
        width: 150px;
    }

    .bottom-row .text-container{
        order: 1;
    }
    
        /*--------MQ CONTAINER----------*/
    .container {
        width: 100%;
    }

    .container img {
        width: 100%;
    }
    

    .bottom-row .container, .top-row .container {
        display: flex; 
    }

    
}